
<div class="row" style="margin-top: 5px;">
<hr>
<h3>Recent Updates</h3>
<hr>
<ul>
	<li>
		<a href="https://www.researchsquare.com/article/rs-1953874/v1">
	Sep 27, 2022: Our work on prediction of succinylation sites using protien language models has been accepted by Scientific Reports.
	
</a>
	</li>

	<li>

<a href="https://www.iscb.org/giw-iscb-asia2022">
	Our work on prediction of S-nitrosylation sites using protin language models has been submitted to GIW/ISCB ASIA 2022.
	
</a>
</li>
	
<li>

<a href="https://academic.oup.com/glycob">
	Our work on prediction of N-linked glycosylation sites using protin language models has been submitted to Glycobiology.
	
</a>
</li>	
	
	
</div>
</ul>

